body, html{

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.container-fluid{
    text-align: center;

}

.jumbotron-with-background {
    background-image: url(../imagens/cabeçalho1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}

.navbar-custom{
  background-color: transparent !important;
}

.navbar-brand{
  font-size: 20px;
  font-weight: bold;
  margin-left: 12px;
}

.display-4{
  font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px black;
    
}

.lead{
  font-weight: normal;
    color: #ffffff;
    text-shadow: 2px 2px black;
}
.botao{
    margin-top: 15px;
    border-radius: 10px;
    border: 1px;
    cursor: pointer;
    color: #ffffff;
    background:linear-gradient( to right,#2c698d,#272643) ;
    width: 110px;
    height: 30px;

}
.display-5{
  font-weight: bold;
 color: black;
 text-shadow: black;
 position: relative;
left: -10px;
}

.lead1{
    color: rgb(63, 63, 63);
    
}
.display-6{
    font-size: 150%;
    margin-top: 15px;
color: black;
font-family: 'Bebas Neue', cursive;
}

.display-7{
    font-size: 160%;
    margin-top: 15px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

.display-8{
    font-size: 150%;
    margin-top: 15px;
    color: black;
    font-family: 'Bebas Neue', cursive; 
}

main.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #434343;

}

main.cards section.cards{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 70px 50px;
    border-radius: 8px;
    max-height: 290px;
    max-width: 340px;
    margin-left: -25px;
   
}

main.cards section.cards :first-child{
    margin-left: 0px;
}
main.cards section.cards .icon{
    width: 80px;
    height: 80px;

}
main.cards section.cards img{
width: 100%;
}

@media screen and (max-width: 720px) {
    main.cards{
        flex-direction: column;
    }
    main.cards section.cards{
        margin-left: 0;
        margin-bottom: 32px;
    }
}

main.cards section.card:last-child{
    margin-bottom: 0;
}

.display-9{
  font-weight: bold;
    margin-top: 100px;
    color: black;
    text-align: center;
    
}
.lead2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

main.cards2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #434343;
    margin-right: 15px;
}
.cards2{
    flex: 1 0 30%;
    min-height: 33.33vh;
}
main.cards2 section.cards2{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 32px 50px;
    max-height: 310px;
    border-radius: 5px;
    box-shadow: 30px 30px 30px -50px;
    
   
}

main.cards2 section.cards2 :first-child{
    margin-left: 0;
}
main.cards2 section.cards2 .icon2{
    width: 250px;
    height: 200px;

}

main.cards2 section.cards2 img{
    width: 100%;
}

@media screen and (max-width: 720px) {
    main.cards2{
        flex-direction: column;
    }
    main.cards2 section.cards2{
        margin-left: 0;
        margin-bottom: 32px;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-ajuste{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(255, 255, 255);
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #f6f8fa;
  color: rgb(8, 8, 8);
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    padding: 0px 50px;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    top: 0px;
    border: 4px solid #ffffff;
  }
  .timeline ul li:nth-child(1)::before {
    transform: translate(50%, -50%);
    right: -30px;
    background-image: url(../imagens/icone.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .timeline ul li:nth-child(2)::before {
    transform: translate(-50%, -50%);
    left: -30px;
    background-image: url(../imagens/uber1.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .timeline ul li:nth-child(3)::before {
    transform: translate(50%, -50%);
    right: -30px;
    background-image: url(../imagens/apple.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .timeline ul li:nth-child(4)::before {
    transform: translate(50%, -50%);
    left: -150px;
    background-image: url(../imagens/logo-empresa.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: rgb(253, 253, 253);
  }
}

