.textos{
    font-size: 30px;
}

.describe{
    font-size: 15px;
    color: gray;
}

.bg-dark{
    width: 150px;
    height: 150pX;
    border-radius: 100%;
    background-position: 50% 50%;
    padding: 0%;
    background-color: yellow !important;
}

.bg-secondary{
    background-color: #f6f8fa !important;
}

.fonte{
    font-size: 25px;
}
table{
    width: auto;
    margin: 5px 50px;
}


td{
    padding: 13px;
    padding-bottom: 0;
    padding-top: 0px;
}



.ajuste img{
    max-width: 80%;
    height: auto;
}


