.textos{
    font-size: 30px;
}

.describe{
    font-size: 15px;
    color: gray;
}

.bg-membro1{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    padding: 0%;
    background-image: url(/img/member1.jpg) !important;
    background-size: cover;
}

.bg-membro2{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    padding: 0%;
    background-image: url(/img/member2.jpeg) !important;
    background-size: cover;
}

.bg-membro3{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    padding: 0%;
    background-image: url(/img/member3.jpeg) !important;
    background-size: cover;
}


.bg-secondary{
    background-color: #f6f8fa !important;
}

.fonte{
    font-size: 25px;
}
table{
    width: auto;
    margin: 5px 50px;
}

td div{
    background-color: white;
}



td{
    padding: 13px;
    padding-bottom: 0;
    padding-top: 0px;
    padding: tran;
}

.ajuste img{
    max-width: 80%;
    height: auto;
}


.icone img{
    max-width: 50px;
    max-height: 50px;
}

